In [8]:
from sklearn.externals import joblib
import pandas as pd

In [12]:
cate_dict = joblib.load('cate_dict.dat')
y_list = joblib.load('y_list.dat')
train_df = pd.read_pickle("soma_goods_train.df")

In [4]:
type(cate_dict)

dict

In [11]:
train_df.shape

(10000, 4)

In [14]:
len(y_list)

10000

In [15]:
y_list_df = pd.DataFrame(y_list)

In [16]:
y_list_df.head(3)

   0
0  3
1  3
2  3